body {
    font-family: verdana, arial;
    font-size: 12px;

    .link {
        color: green;
        cursor: pointer;
    }

    label {
        color: #aaa;
    }

    .control-panel {
        margin: 20px 0;

        .radio {
            margin: 0 6px;
        }
        .filter-field {
            margin-left: 6px;
            padding: 6px;
            width: 220px;
        }
    }

    .data-grid {
        border-collapse: collapse;

        th {
            text-align: left;
            color: #666;
            border-bottom: 1px solid #ccc;
            padding: 1px 16px;
            border-right: 1px solid #ccc;

            &:last-child {
                border-right: 0;
                background-color: cyan;
                cursor: pointer;
            }
        }

        td {
            padding: 1px 16px;
            border-right: 1px solid #ccc;

            &:last-child {
                border-right: 0;
            }
        }
    }
}